<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="packagecacheshare" value="\\aspnetci\drops\Coherence-PackageCache\2.0.0-preview1\24820"/>
    <add key="AspNetCore" value="https://dotnet.myget.org/F/aspnetcore-release/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
